<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355647476048-fc6mhr9hgo4uvpfr8pulnacn4oj7dmlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355647476048-fc6mhr9hgo4uvpfr8pulnacn4oj7dmlc</string>
	<key>API_KEY</key>
	<string>AIzaSyBlKzCsadvClrS5UpquoZZbWn3RW1fCKJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>355647476048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asda.asdas.app.ChatApp-Demo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-swiftui-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-swiftui-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355647476048:ios:91ef92cc631ba8eb739c55</string>
</dict>
</plist>